# LaTeX auxiliary files
*.aux
*.auxlock
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex(busy)
*.synctex.gz
*.thm

# bibliography files
*.bbl
*.bcf
*.blg
*.run.xml

# minted code output
*.pyg
*.pygstyle
*.pygtex
*.loa

# beamer presentation files
*.nav
*.snm
*.toc
*.vrb

# tikzexternalize
external/

# archive
archive
*.tmp

# franklin.jl
__site
node_modules
_rss
.lycheecache
